<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Flow</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/bootstrap-grid.css}" rel="stylesheet">
</head>
<body>
<p></p>
<div class="container">
    <div class="row gx-4">
        <div class="col-1">
            <label class="form-label">고정확장자</label>
        </div>
        <div class="col-6">
            <form action="/extension" method="post">
                <div th:each="fixedFileExtension : ${fixedFileExtensionList}" class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" th:field="${fixedFileExtensionList}" th:value="${fixedFileExtension.extension}" th:checked="${fixedFileExtension.isFixed()}">
                    <label class="form-check-label" th:for="${#ids.prev('')}"  th:text="${fixedFileExtension.extension}"></label>
                </div>
            </form>
        </div>
    </div>
    <div class="row gx-4">
        <div class="col-1">
            <label class="form-label">커스텀확장자</label>
        </div>
        <div class="col-8">
            <form class = "row row-cols-2" action="/extension" th:object="${fileExtensionRequestDto}" method="post">
                <div class="col-6">
                    <input class="form-control" type="text" th:field="*{extension}" placeholder='확장자 입력'/>
                </div>
                <div class="col-2">
                    <button class="btn btn-secondary" type="submit"> +추가 </button>
                </div>
            </form>
        </div>
    </div>
    <div class="row gx-4">
        <div class="card col-6"  style="margin-top : 10px">
            <div class="card-body">
                <th:block th:each="customFileExtension : ${customFileExtensionList}">
                    <label class="btn btn-primary" th:text="${customFileExtension.extension}"><button type="button" class="btn-close" aria-label="Close"/></label>
                </th:block>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js">  </script>

<script th:href="@{/js/bootstrap.js}"></script>
</body>
</html>