{{>layout/header}}

<p></p>
<div class="container">
    <div class="row gx-4">
        <div class="col-2">
            <label class="form-label fw-bold" style="margin-left : 40px">고정확장자</label>
        </div>
        <div class="col-6">
            {{#fixedFileExtensionList}}
            <div class="form-check form-check-inline">
                <form id="updateFixedExtension" >
                    <input id="check_box_{{extension}}" class="form-check-input" type="checkbox" {{^use}}checked{{/use}}>
                    <label class="form-check-label">{{extension}}</label>
                </form>
            </div>
            {{/fixedFileExtensionList}}
        </div>
    </div>
    <div class="row gx-4">
        <div class="col-2">
            <label class="form-label fw-bold" style="margin-left : 40px">커스텀확장자</label>
        </div>
        <div class="col-8">
            <form class="row row-cols-2">
                <div class="col-6">
                    <input class="form-control" type="text" id="custom_extension" placeholder='확장자 입력'/>
                </div>
                <div class="col-2">
                    <button id="btn_custom_save" class="btn btn-outline-success" type="button"> +추가</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row gx-4">
        <div class="col-1"></div>
        <div class="card col-6" style="margin-top : 10px">
            <div class="card-body" id="card">
                <div> {{customFileExtensionSize}} / 200</div>
                <form id="deleteCustomExtension" class="form-inline">
                    {{#customFileExtensionList}}
                        <span class="badge bg-success bg-primary">
                        <label> {{extension}} <button id="btn_delete_{{extension}}" class="btn-close" aria-label="Close" ></button></label>
                    </span>
                    {{/customFileExtensionList}}
                </form>
            </div>
        </div>
    </div>
</div>

{{>layout/footer}}